body{
  background-image:url(../img/mars-11012_1920.jpg);
  background-attachment: fixed;
}
#philippe{
  border: 2px black solid;
}

#cardForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: auto;
  border-radius: 30px/20px;
  border: 5px blue ridge;
  background-color: #DBEDFC;
}
